* {
  margin: 0;
  padding: 0;
}
html{
  width: 100%;
}

.dot{
  width: 28px;
  height: 4px;
  background-color: red;
  margin: 4px;
  background-color: rgb(221, 121, 121);
  border-radius: 5px 5px 5px 5px;
  
}


.dot-pare{
  position: relative;
  left: 5rem;
  background-color: transparent;
  border: 1px solid black;
  width: 2.2rem;
  height: 1.8rem;
  border-radius: 5px 5px 5px 5px;
}

.dot-pare:hover{
  background-color: rgb(135, 171, 203);
}

.man{
  display: none;
}



.dark {
  width: 30px;
  position: relative;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

header {
  height: 9vh;
  width: 100%;
  background-image: url(img/Case-Study-Background-DanRiver-5.jpg);
  background-color: white;
  /* position: sticky;
    top: 0;
    cursor: pointer;
    z-index: 2;     */
}

.li {
  display: inline;
  font-size: 17px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  bottom: 10px;
  left: 1100px;
  padding: 15px;
}

li,
a {
  text-decoration: none;
  color: rgb(243, 239, 239);
}

a:hover {
  color: #0c0c0c;
  text-decoration: none;
}

.home {
  text-decoration: none;
  color: rgb(255, 0, 230);
}

.home:hover {
  color: red;
}

/* bg-image" */

.bg-image {
  background-image: url(img/motivation-in-education-fi-1.webp);
  height: 64vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  width: 7vw;
  height: 5vh;
  border: 2px solid white;
  border-radius: 17px;
  position: relative;
  left: 720px;
  top: 360px;
  background: none;
  color: rgb(255, 254, 254);
  cursor: pointer;
}

.btn-small {
  color: white;
}

.btn-small:hover {
  color: red;
}

.container {
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 18px;
  position: relative;
  top: 17vh;
}

.box-1 {
  height: 30vh;
  width: 25vw;
  background: rgba(221, 152, 221, 0.682);
  border: 3px solid white;
  border-radius: 24px;
  color: rgb(0, 0, 0);
}

.box-1:hover {
  background-color: rgba(184, 240, 194, 0.842);
}

.box-2 {
  height: 30vh;
  width: 25vw;
  background-color: rgba(110, 225, 131, 0.842);
  border: 3px solid white;
  border-radius: 24px;
  color: black;
}

.box-2:hover {
  background: rgba(248, 215, 248, 0.682);
}

.box-3 {
  height: 30vh;
  width: 25vw;
  background: rgba(221, 152, 221, 0.682);
  border: 3px solid white;
  border-radius: 24px;
  color: rgb(0, 0, 0);
}

.box-3:hover {
  background-color: rgba(184, 240, 194, 0.842);
}

.box-4 {
  height: 30vh;
  width: 25vw;
  background-color: rgba(110, 225, 131, 0.842);
  border: 3px solid white;
  border-radius: 24px;
  color: black;
}

.box-4:hover {
  background: rgba(248, 215, 248, 0.682);
}

.box1-text {
  position: relative;
  top: 70px;
  font-size: 20px;
}

.box2-text {
  position: relative;
  top: 70px;
  font-size: 20px;
}

.box3-text {
  position: relative;
  top: 70px;
  font-size: 20px;
}

.box4-text {
  position: relative;
  top: 70px;
  font-size: 20px;
}

h3 {
  position: relative;
  top: 60px;
  color: goldenrod;
}

.color {
  color: gray;
}

/* rectangle */

.rectangle {
  height: 30vh;
  width: 100%;
  background-image: url(img/Case-Study-Background-DanRiver-5.jpg);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.mission {
  color: black;
  position: relative;
  top: 60px;
  color: aliceblue;
}

.paragraph {
  position: relative;
  top: 70px;
  color: aliceblue;
}

.about {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  top: 50px;
  text-align: center;
}

.page-2 {
  height: 105vh;
  width: 100%;
  position: relative;
  bottom: 35px;
  background-color: rgba(222, 211, 195, 0.807);
}

/* box left-right */

.leftright {
  display: flex;
  justify-content: space-between;
}

.box-left {
  background-color: blueviolet;
  height: 50vh;
  width: 40vw;
  background-image: url(img/left-box.jpg);
  background-size: cover;
  position: relative;
  top: 80px;
  left: 120px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 17px;
  box-shadow: 0px 10px 25px;
}

.text-left {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 30px;
  color: whitesmoke;
}

/* .pop{
     opacity: 0; 
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    position: relative;
    top: 110px;
    cursor: pointer;
    

}

.pop:hover{
    opacity: 10;
    color: rgb(255, 255, 255);
    

} */

.box-right {
  height: 50vh;
  width: 40vw;
  background-image: url(img/right-img.jpg);
  background-size: cover;
  position: relative;
  top: 80px;
  right: 120px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 17px;
  box-shadow: 0px 10px 25px;
}

/* .pop-2{
   background: rgb(216, 170, 170) url(img/motivation-in-education-fi-1.webp);
   height: 30vh;
   width: 30vw;
   background-size: cover;
   border: 2px solid white;border-radius: 200px;
   margin: 50px 75px;
   opacity: 0;
   
}

.pop-2:hover{
    opacity: 10;
    color: rgb(255, 255, 255);
    
} */

.text-right {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 30px;
  color: rgb(78, 59, 59);
}

/* courses */
.page-3 {
  height: 129vh;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.158);
}

.events {
  height: 82vh;
  width: 60vw;
  background-color: white;
  position: relative;
  top: 180px;
  left: 250px;
  padding: 60px;
  border: 2px solid rgba(0, 0, 0, 0.197);
  box-shadow: 0px 10px 25px rgba(255, 0, 0, 0.195);
}

.sec {
  width: 68vw;
  height: 8vh;
  background-color: rgba(128, 128, 128, 0.332);
  position: relative;
  right: 60px;
  bottom: 60px;
}

.up {
  font-size: 26px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  top: 15px;
  left: 15px;
}

.sec1 {
  width: 15vw;
  height: 42vh;
  border: 2px solid rgba(0, 0, 0, 0.16);
  background-color: whitesmoke;
  display: inline-block;
  position: relative;
  right: 40px;
  box-shadow: 0px 10px 25px gray;
}

.min {
  height: 25vh;
  width: 15vw;
  background-color: antiquewhite;
  background-image: url(img/ap\ windows.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  bottom: 32px;
}

.min2 {
  height: 10vh;
  width: 5vw;
  background-color: rgba(255, 166, 0, 0.538);
}

.sec2 {
  width: 15vw;
  height: 42vh;
  border: 2px solid rgba(0, 0, 0, 0.16);
  background-color: whitesmoke;
  display: inline-block;
  position: relative;
  left: 120px;
  box-shadow: 0px 10px 25px gray;
}

.min3 {
  height: 24vh;
  width: 15vw;
  background-color: antiquewhite;
  background-image: url(img/2\ mangesh.jpg);
  background-size: cover;
  position: relative;
  bottom: 32px;
}

.min4 {
  height: 10vh;
  width: 5vw;
  background-color: rgba(255, 166, 0, 0.538);
}

.sec3 {
  width: 15vw;
  height: 42vh;
  border: 2px solid rgba(0, 0, 0, 0.16);
  background-color: whitesmoke;
  display: inline-block;
  position: relative;
  left: 250px;
  box-shadow: 0px 10px 25px gray;
}

.min5 {
  height: 25vh;
  width: 15vw;
  background-color: antiquewhite;
  background-image: url(img/teacher.jpg);
  background-size: cover;
  position: relative;
  bottom: 32px;
}

.min6 {
  height: 10vh;
  width: 5vw;
  background-color: rgba(255, 166, 0, 0.538);
}

.bold {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.feb {
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  top: 240px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 156);
}

.how {
  text-align: center;
}

.meet {
  font-size: 28px;
  position: relative;
  top: 75px;
  color: rgba(0, 0, 0, 0.723);
}

.since {
  font-size: 18px;
  position: relative;
  top: 90px;
  color: rgba(0, 0, 0, 0.467);
}

.size {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  top: 100px;
  color: gray;
}

/* page-4 */

.page-4 {
  height: 100vh;
  width: 100%;
}

.p-4box {
  width: 73vw;
  height: 93vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 74px;
  left: 173px;
}

.left-text {
  height: 84vh;
  width: 35vw;
  background-color: white;
  margin: 2px 38px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.done {
  width: 32vw;
  height: 55vh;
  position: relative;
  top: 94px;
  right: 0px;
  left: 33px;
  background-image: url(img/kids.jpg);
  background-size: cover;
  box-shadow: 0px 10px 25px 10px gray;
}

.man {
  color: rgba(0, 0, 255, 0.485);
}

.today {
  font-size: 26px;
  position: relative;
  top: 20px;
}

.now {
  font-size: 17px;
  color: gray;
  margin-top: 30px;
}

/* page-5 */

.page-5 {
  height: 120vh;
  width: 100%;
}

.p-5box {
  width: 76vw;
  height: 93vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 123px;
  left: 173px;
}

.done-2 {
  width: 32vw;
  height: 85vh;
  position: relative;
  /* top: 2px; */
  right: 0px;
  left: 33px;
  background-image: url(img/girl.jpg);
  background-size: cover;
  box-shadow: 0px 10px 25px 10px gray;
}

.day {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 36px;
  position: relative;
  bottom: 55px;
  left: 280px;
}

/* contact */

.contact {
  height: 100vh;
  width: 100%;
}

.form-box {
  height: 80vh;
  width: 75vw;
  background-color: rgba(128, 128, 128, 0.366);
  position: relative;
  top: 53px;
  left: 215px;
  border: 2px solid rgba(128, 128, 128, 0.251);
  border-radius: 20px;
  box-shadow: 0 10px 25px;
}

.us {
  color: rgb(0, 0, 0);
  text-align: center;
  position: relative;
  top: 35px;
  left: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
}

.info {
  color: #0c0c0c;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  padding: 20px;
}

.cont-inp {
  width: 90%;
  height: 29px;
  border: 1px solid rgba(128, 128, 128, 0.39);
  border-radius: 18px;
  padding-left: 10px;
}

#textareapop {
  height: 145px;
  width: 1014px;
  border: 1px solid rgba(128, 128, 128, 0.279);
  border-radius: 22px;
  padding-left: 10px;
  padding-top: 5px;
}

.email {
  position: relative;
  bottom: 55px;
  left: 33px;
}

.omg {
  width: 7vw;
  height: 5vh;
  border: 2px solid gray;
  border-radius: 17px;
  position: relative;
  left: 720px;
  top: 360px;
  background: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.ayush {
  color: #0c0c0c;
  border: 2px solid black;
  position: relative;
  top: 532px;
  left: 520px;
}

.ayu:hover {
  color: red;
}

.ayu {
  color: #0c0c0c;
  font-size: 16px;
  font-weight: 600;
}

footer {
  width: 100%;
  height: 10vh;
  background-image: url(img/Case-Study-Background-DanRiver-5.jpg);
  text-align: center;
}

.foot {
  color: white;
}

.foot-2 {
  color: antiquewhite;
}

.up img {
  width: 70px;
  position: relative;
  top: 50px;
  left: 100%;
  cursor: pointer;
}

.black {
  background-color: black;
}



@media screen and (max-width: 600px) {

  button {
    width: 7vw;
    height: 5vh;
    border: 2px solid rgb(51 24 51 / 72%);
    border-radius: 17px;
    position: relative;
    left: 178px;
    top: 360px;
    background: none;
    /* color: rgb(221, 121, 121); */
    cursor: pointer;
}

.btn-small {
  color: black;
}

.dark{
  visibility: hidden;
}

  .li {
    left: 10px;
    height: 3.1rem;
    border: 2px solid white;
    border-radius: 5px 5px 5px 5px;
    z-index: 1;
    display: block;
    top: 7px;
    left: 0px;
    margin: 1px;
    background-color: rgb(108 0 85);
    text-align: center;  
  }


 .li:hover{
  background-color: rgb(75, 8, 61);
 }


 /* js use here */


  .sort{
    display: none;
  }
  
/* js end */



  .bg-image {
    background-image: url(https://img.freepik.com/free-photo/smiling-students-with-backpacks_1098-1220.jpg?size=626&ext=jpg&ga=GA1.1.1887755153.1689430244&semt=ais);
    /* height: 40vh;
    width: 100%; */
    background-position-x: -49px;
  }

  .mission {
    top: 27px;
    left: 2px;
    /* right: 2px; */
    font-size: 2rem;
  }

  .paragraph {
    width: 394px;
    margin: -16px 0 0 43px;
    font-size: 1.3rem;
  }

  .rectangle {
    height: 54vh;
    width: auto;
  }

  .leftright {
    display: block;
  }

  .about {
    top: 59px;
    right: 0px;
  }

  .box-left {
    height: 29vh;
    width: 59vw;
    left: 97px;
    top: 97px;
  }

  .box-right {
    height: 29vh;
    width: 59vw;
    top: 125px;
    right: -94px;
  }

  .page-2 {
    height: 81vh;
  }

  .container {
    display: block;
    text-align: center;
    top: 30vh;
    left: 45px;
  }

  .box-1 {
    height: 27vh;
    width: 77vw;
    margin: 4px;
  }

  .box-2 {
    height: 27vh;
    width: 77vw;
    margin: 4px;
  }

  .box-3 {
    height: 27vh;
    width: 77vw;
    margin: 4px;
  }

  .box-4 {
    height: 27vh;
    width: 77vw;
    margin: 4px;
  }

  .text-right {
    color: ghostwhite;
    position: relative;
    top: 230px;
  }

  .page-3 {
    height: 100%;
    width: 60%;
    background-color: white;
  }

  .events {
    height: 142vh;
    width: 43vw;
    top: 241px;
    left: 54px;
    padding: 83px;
  }

  .sec {
    right: 62px;
    text-align: center;
  }

  .sec1 {
    width: 55vw;
    height: 42vh;
    margin: 5px;
    bottom: 34px;
  }

  .sec2 {
    width: 56vw;
    height: 42vh;
    left: -43px;
    margin: 5px;
  }

  .sec3 {
    width: 56vw;
    left: auto;
    right: 43px;
    margin: 5px;
    top: 34px;
  }

  .left-text {
    height: 84vh;
    width: auto;
    margin: auto;
    position: relative;
    top: -8rem;
    right: -1rem;
}

  .page-4 {
    position: relative;
    top: 154vh;
    right: 4.3rem;
  }

  .how {
    display: none;
  }

  .done {
    position: relative;
    top: -368px;
    right: -43px;
    left: -306px;
  }

  .min {
    width: auto;
  }

  .min2 {
    height: 8vh;
    width: 31%;
  }

  .min3 {
    width: auto;
  }

  .min4 {
    height: 8vh;
    width: 31%;
  }

  .min5 {
    width: auto;
  }

  .min6 {
    height: 8vh;
    width: 31%;
  }

  .day {
    bottom: 54%;
    left: 2px;
  }
  .p-5box {
    display: none;
  }
  .none {
    display: none;
  }

  .yarr {
    display: none;
  }

  .now {
    width: 13rem;
  }

  .p-4box {
    left: 193px;
  }

  .form-box {
    width: 87vw;
    left: 96px;
    top: 7rem;
    height: 64vh;
  }

  .page-5 {
    position: relative;
    bottom: 41rem;
  }

  .us {
    top: 63px;
    /* left: 10px; */
    /* margin: auto; */
    /* text-align: center; */
    
  }


    .ayush {
      top: 447px;
      left: 137px;
  }
  

  button {
    width: 30vw;
  }
  footer {
    width: 120%;
    text-align: center;
  }

  .foot {
    padding-left: 4rem;
  }

  .up img {
    display: none;
  }

  .text-area {
    position: relative;
    top: 6.5rem;
    right: 2.6rem;
  }

  #textareapop {
    width: 24rem;
    margin: 1px;
  }

  .phone {
    position: relative;
    top: 7rem;
    right: 2.6rem;
  }

  .contact {
    height: 90vh;
  }

  .cont-inp {
    width: 102%;
  }

  .mangesh{
    position: relative;
    top: 8rem;
    right: 2.6rem;
  }

  .thats{
    position: relative;
    top: 9rem;
    right: 2.6rem;
  }

  .email {
    bottom: 166px;
    left: 2.1rem;
}

.man{

  display: block;
  position: relative;
  left: 22rem;
  bottom: 10px;

}

.dot-pare{
  height: 2.3rem;
  width: 2.5rem;
  position: relative;
  left: 26.5rem;
}

.dot {
  width: 35px;
    height: 4.1px;
    margin: 4.5px;
    position: relative;
    top: 2.5px;
    right: 1.5px;
    background-color: antiquewhite;
 
}

/* js start here */

.yup{
  display: block;
}

/* js end here */

.delete{
  display: none;
}

.open {
  top: 250px;
}




}




@media (min-width : 300px) and (max-width : 500px) {
  .li {
    left: 10px;
    height: 3.1rem;
    border: 2px solid white;
    border-radius: 5px 5px 5px 5px;
    z-index: 1;
    display: block;
    top: -2px;
    left: 0px;
    margin: 1px;
    background-color: rgb(108 0 85);
    text-align: center;
}

 button {
  position: relative;
  left: 182px;
}

.bg-image {
  background-position-x: -85px;
  width: 100%;
}

header {
  width: 100%;
 
}

.dot-pare {
  left: 25.5rem;
  bottom: 1.2rem;
}

.rectangle {
  height: 54vh;
  width: 100%;
}

.page-2 {
  width: 100%;
  height: 85vh;
}

.box-left {
  left: 127px;
  top: 84px;
}

.box-right {
  height: 29vh;
  width: 59vw;
  top: 113px;
  right: -127px;
}

.text-right {
  color: ghostwhite;
  position: relative;
  top: 180px;
}

.container {
  display: block;
  text-align: center;
  top: 21vh;
  left: 88px;
}

.box1-text {
  position: relative;
  top: 28px;
  font-size: 20px;
}

h3 {
  position: relative;
  top: 25px;
  color: goldenrod;
}

.box2-text {
  position: relative;
  top: 28px;
  font-size: 20px;
}

.box3-text {
  position: relative;
  top: 28px;
  font-size: 20px;
}

.box4-text {

  top: 28px;
  
}

.events {
  height: 142vh;
  width: 43vw;
  top: 206px;
  left: 73px;
  padding: 83px;
}

.done {
  max-height: 40%;
  min-width: 100%;
  /* position: relative; */
  /* top: -378px; */
  /* right: -43px; */
  /* left: 200px; */
}

.page-5 {
  position: relative;
  bottom: 32rem;
}

.left-text {

  top: -4rem;
 
}

.us {
  top: 34px;
  left: 72px;
}

.form-box {
  width: 90vw;
  left: 137px;
  top: 6rem;
  height: 65vh;
}

#textareapop {
  width: 21rem;
  margin: 1px;
}

.page-3 {
  height: 100%;
  width: 96%;
  background-color: white;
}

.ayush {
  top: 452px;
  left: 122px;
}

}



@media (min-width : 440px) and (max-width : 500px){
  .form-box {
    width: 90vw;
    left: 104px;
    top: 6rem;
    height: 65vh;
}



#textareapop {
  width: 24rem;
  margin: 1px;
}

.foot {
  /* padding-left: 2rem; */
  padding-right: 9rem;
  /* text-align: center; */
}


.ayush {
  top: 452px;
  left: 140px;
}

/* .us {
  top: 34px;
  left: 8px;
} */

.left-text {
  top: -4rem;
  left: 1rem;
}

/* .done {
  top: -316px;
  /* right: -43px; */
  /* left: px;
} */ 

.events {
  left: 67px;
}

.container {
  left: 63px;
}

.box-right {
  right: -110px;
}

.box-left {
  left: 105px;
}

/* .about {
  top: 57px;
  right: 66px;
} */

.paragraph {
  margin: -17px 0px 9px 47px;
}

.dot-pare {
  left: 24.5rem;
  bottom: 1.2rem;
}

button {
  position: relative;
  left: 176px;
}

.mission {
  top: 27px;
  right: 67px;
  font-size: 2rem;
}

}

@media screen and (max-width : 440px){
  .dot-pare {
    left: 20.5rem;
    bottom: 1.2rem;
}

button {
  position: relative;
  left: 143px;
  /* bottom: -11rem; */
}

.mission {
  right: 58px;
}

.paragraph {
  margin: -16px 0 0 6px;
}
/* 
.about {
  right: 69px;
} */

.box-left {
  left: 90px;
}

.box-right {
  right: -90px;
}

.container {
  left: 43px;
}

.events {
  left: 35px;
}

.left-text {
  right: 1rem;
}

.done {
  top: -320px;
  /* right: -43px; */
  left: -280px;
}

/* .us {
  left: 8px;
} */

.form-box {
  left: 87px;
}
/* .foot{
  padding-right: 10rem;
} */

}

@media screen and (max-width : 440px){
  #textareapop {
    width: 19rem;
}


}

@media screen and (min-width : 400px){
  .yup {
    display: block;
    width: 80%;
}
}


@media (min-width: 1440px) and (max-width: 1450px){
  .li{
    left: 1000px;
  }
  button{
    left: 701px;
  }
  .sec{
    width: 68.4vw;
  }
  .events{
    top: 234px;
  }
  #textareapop{
    width: 942px;
  }
}